/* Resume.css */
.resume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 57.7vh;
  color: white;
  margin-top: 0;
  padding: 0;
}

h1, h2 {
  margin-top: 5%;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

p {
  font-size: 1.2rem;
  margin: 5px 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
  font-size: 1.1rem;
}

li {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  line-height: 1.5;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 20px 0;
  border: 5px solid white;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 15px rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.5s ease;
}

.button-container:hover {
  box-shadow: 
    0 0 40px rgba(255, 255, 255, 0.8),
    0 0 60px rgba(255, 255, 255, 0.6);
}

@media (min-width: 768px) {
  .resume-container {
      margin-top: 0;
  }

  .button-container {
      height: 80px;
      padding: 15px;
  }
}

@media (min-width: 1024px) {
  .resume-container {
      margin-top: 0;
  }
}
