@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    max-width: 1200px;
    margin: 50px auto;
    font-family: "Poppins", sans-serif;
}

.section1 {
    display: flex;
    width: 100%;
    flex-wrap: wrap; /* Mobil için sarma */
}

.rightSide {
    flex: 1;
    padding: 20px;
    min-width: 300px; /* Minimum genişlik belirleyin */
}

.leftSide {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: auto; 
    height: 60vh; 
    object-fit: cover; 
    border-radius: 8px; 
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

h2 span {
    font-weight: bold;
}

p {
    font-size: 1.2rem;
    margin: 10px 0;
}

ul {
    margin-left: 20px; 
    padding-left: 0; 
    list-style: none; 
}

li {
    margin: 10px 0;
    position: relative; 
    padding-left: 35px; 
    line-height: 1.5; 
}

li::before {
    position: absolute;
    left: 0; 
    top: 45%; 
    transform: translateY(-50%); 
    color: #c0392b; 
    font-size: 1.5rem; 
}

span {
    color: #c0392b;
}

.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    max-width: 75em;
    margin: 50px auto;
    font-family: "Poppins", sans-serif;
}

.section2 .skills-header {
    text-decoration: underline;
    text-decoration-color: #c0392b;
    margin-top: 2em;
}

.tools-header {
    margin-top: 4em;
}

.skill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skill-box {
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 150px;
    border: 1px solid white; 
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.skill-box:hover {
    transform: scale(1.05);
}

/* Medya Sorguları */
@media (max-width: 768px) {
    .section1 {
        flex-direction: column; /* Dikey hizalama */
    }
    
    .rightSide, .leftSide {
        min-width: 100%; /* Tam genişlik */
        padding: 10px; /* Daha az iç boşluk */
    }

    h2 {
        font-size: 1.5rem; /* Daha küçük başlık boyutu */
    }

    p {
        font-size: 1rem; /* Daha küçük metin boyutu */
    }

    .skill-box {
        width: 100%; /* Tam genişlik */
        padding: 15px; /* Daha az iç boşluk */
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.2rem; /* Daha küçük başlık boyutu */
    }

    p {
        font-size: 0.9rem; /* Daha küçük metin boyutu */
    }

    .skill-box {
        width: 100%; /* Tam genişlik */
        padding: 10px; /* Daha az iç boşluk */
    }
}
